.table_list{
    width: 100%;
    border: 1px solid #429fff;
    border-collapse: collapse;
    margin-bottom: 10px;
}
.table_list td{
    padding: 2px;
    border: 1px solid #429fff;
}
.table_list caption{
    border: 1px solid #429fff;
    border-bottom: 0px;
    padding: 10px;
    font-weight: bolder;
    text-align: center;
}
.table_list_td_icon{
    width: 42px;
    text-align: center;
}
.table_list_td_down{
    width: 42px;
    text-align: center;
}
.weixin{
    text-align: center;
    margin: 3px;
    color: Navy;
}